### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [27]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [28]:
total_players = purchase_data['SN'].nunique()
pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [29]:
unique_items = purchase_data['Item Name'].nunique()
average_price = purchase_data['Price'].mean()
purchases = purchase_data['Purchase ID'].count()
totalrev = purchase_data['Price'].sum()
pd.DataFrame({"Number of Unique Items": [unique_items],
             "Average Price": [average_price],
             "Number of Purchases":[purchases],
             "Total Revenues":[totalrev]})

   Number of Unique Items  Average Price  Number of Purchases  Total Revenues
0                     179       3.050987                  780         2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [47]:
gender_data = purchase_data.groupby("Gender")
total_gender_count = gender_data.nunique()["SN"]
percentage_of_players = total_gender_count/total_players*100
gender_analysis_table = pd.DataFrame({"Total Count": total_gender_count,
                                    "Percentage of Players": percentage_of_players
                                    })
gender_analysis_table.index.name = None
gender_analysis_table.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [62]:
purchase_count = gender_data['Purchase ID'].count()
average_purchase_price = gender_data['Price'].mean()
total_purchase_value = gender_data['Price'].sum()
avg_total_purchase_per_person = total_purchase_value/total_gender_count

purchase_data_table = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Average Purchase Price": average_purchase_price,
                                    "Total Purchase Value": total_purchase_value,
                                    "Avg Total Purchase per Person": avg_total_purchase_per_person
                                    })
purchase_data_table.index.name = None
purchase_data_table.style.format({"Average Purchase Price":"${:.2f}","Avg Total Purchase per Person":"${:.2f}","Total Purchase Value":"${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [69]:
bins = [0,10,15,20,25,30,35,40,100]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

age_totals = purchase_data["Age Groups"].value_counts()
age_percents = age_totals / total_players * 100
age_demographics = pd.DataFrame({"Total Count": age_totals,
                                "Percentage of Players": age_percents})
age_demographics = age_demographics.round(2)

age_demographics.sort_index()

       Total Count  Percentage of Players
<10             32                   5.56
10-14           54                   9.38
15-19          200                  34.72
20-24          325                  56.42
25-29           77                  13.37
30-34           52                   9.03
35-39           33                   5.73
40+              7                   1.22

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [70]:

age_purchase_total = purchase_data.groupby(["Age Groups"]).sum()["Price"].rename("Total Purchase Value")
age_average = purchase_data.groupby(["Age Groups"]).mean()["Price"].rename("Average Purchase Price")
age_counts = purchase_data.groupby(["Age Groups"]).count()["Price"].rename("Purchase Count")
avg_per_age = age_purchase_total / total_players * 100
age_data = pd.DataFrame({"Purchase Count": age_counts,
                        "Average Purchase Price": age_average,
                        "Total Purchase Value": age_purchase_total,
                        "Average Total Purchase per Person" : avg_per_age
                       })

age_data.index.name = None
age_data["Average Purchase Price"] = age_data["Average Purchase Price"].map("${:,.2f}".format)
age_data["Total Purchase Value"] = age_data["Total Purchase Value"].map("${:,.2f}".format)
age_data ["Purchase Count"] = age_data["Purchase Count"].map("{:,}".format)
age_data ["Average Total Purchase per Person"] = age_data["Average Total Purchase per Person"].map("${:,.2f}".format)
age_data = age_data.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Total Purchase per Person"]]
age_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
<10,32,$3.40,$108.96,$18.92
10-14,54,$2.90,$156.60,$27.19
15-19,200,$3.11,$621.56,$107.91
20-24,325,$3.02,$981.64,$170.42
25-29,77,$2.88,$221.42,$38.44
30-34,52,$2.99,$155.71,$27.03
35-39,33,$3.40,$112.35,$19.51
40+,7,$3.08,$21.53,$3.74

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [73]:
totalusers = purchase_data.groupby(['SN']).sum()["Price"]
useraverage = purchase_data.groupby(['SN']).mean()["Price"]
purchasetotal = purchase_data.groupby(['SN']).count()["Price"]

# Convert to DataFrame
user_data = pd.DataFrame({"Total Purchase Value": totalusers,
                         "Average Purchase Price": useraverage,
                         "Purchase Count": purchasetotal})
# Sort Table
user_data = user_data.sort_values("Total Purchase Value", ascending=False).head()
# Format Data and Display
user_data["Average Purchase Price"] = user_data["Average Purchase Price"].map("${:,.2f}".format)
user_data["Total Purchase Value"] = user_data["Total Purchase Value"].map("${:,.2f}".format)
user_data = user_data.loc[:,["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
user_data

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [87]:
pcount = purchase_data.groupby(['Item ID']).count()["Price"]
itemprice = purchase_data.groupby(['Item ID']).mean()["Price"]
totalp = purchase_data.groupby(['Item ID']).sum()["Price"]
name = purchase_data.groupby(['Item ID'])['Item Name']

populardf = pd.DataFrame({"Purchase Count": pcount,"Item Name": name,"Item Price":itemprice,"Total Purchase Price":totalp})
populardf.head()
popularsort = populardf.sort_values("Purchase Count",ascending=False)
popularsort.head()

,Purchase Count,Item Name,Item Price,Total Purchase Price
Item ID,,,,
178,12,"(178, [Oathbreaker, Last Hope of the Breaking ...",4.23,50.76
145,9,"(145, [Fiery Glass Crusader, Fiery Glass Crusa...",4.58,41.22
108,9,"(108, [Extraction, Quickblade Of Trembling Han...",3.53,31.77
82,9,"(82, [Nirvana, Nirvana, Nirvana, Nirvana, Nirv...",4.90,44.10
19,8,"(19, [Pursuit, Cudgel of Necromancy, Pursuit, ...",1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [88]:
popularsortvalue = populardf.sort_values("Total Purchase Price",ascending=False)
popularsortvalue.head()

,Purchase Count,Item Name,Item Price,Total Purchase Price
Item ID,,,,
178,12,"(178, [Oathbreaker, Last Hope of the Breaking ...",4.23,50.76
82,9,"(82, [Nirvana, Nirvana, Nirvana, Nirvana, Nirv...",4.90,44.10
145,9,"(145, [Fiery Glass Crusader, Fiery Glass Crusa...",4.58,41.22
92,8,"(92, [Final Critic, Final Critic, Final Critic...",4.88,39.04
103,8,"(103, [Singed Scalpel, Singed Scalpel, Singed ...",4.35,34.80